
.cardQ5 {
  padding: 20px;
  margin: 20px;
  height: 260px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.cardQ6 {
  padding: 20px;
  margin: 20px;
  height: 270px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.cardEnvironment {
  padding: 20px;
  margin: 20px;
  height: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.cardCommunity {
  padding: 20px;
  margin: 20px;
  height: 450px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.cardFacilities {
  padding: 20px;
  margin: 20px;
  height: 520px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.cardComfort {
  padding: 20px;
  margin: 20px;
  height: 350px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}
.emoji-community {
  margin-top: 30px;
  color: #FF7A59;
  font-size: 30px;
}

.emoji-environment {
  margin-top: 30px;
  color: #32B796;
  font-size: 30px;
}

.emoji-facilities {
 margin-top: 30px;
 color: #E67E22;
 font-size: 30px;
}

.emoji-comfort {
 margin-top: 30px;
 color: #24305E;
 font-size: 30px;
}
.buttonSubmitQ {
  padding: 40px;
  margin-left: 730px;
}
