  // Specific CSS for your home-page
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url("main_photo.jpg");
    /* Set a specific height */
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  // margin-top: 100px;
  // margin-left: 300px;
  color: white;
  opacity: 0,8;
  font-size: 5px;
  top: 120px;
  left: 150px;
}
.hero-text h2 {
  color: white;
  font-weight: bold;
}

.color-title {
  color: #FA5659;
}
.hero-visual {
  text-align: center;
  position: absolute;
  // margin-top: 100px;
  // margin-left: 300px;
  height: 80vh;
}

.btn-primary{
  margin-top: 5px;
}

.btn-primary a {
  color: white;
  text-decoration: none;
}

.banner {
  height: 100vh;
}


