.review-title {
  margin-left: 10px;
  margin: 40px;
  text-align: center;
}

.container {
  position: relative;
}

.confirm {
  position: absolute;
  right: 145px;
}

.color-street {
  color: #FA5659;
  margin-bottom: 40px;
}

.color-commune {
  color: #32B796;
  margin-bottom: 40px;
}
