<!-- show the Address Search Bar + radius box  -->


<!-- The map with the result -->

<div id="map" style="width: 100%; height: 400px;"
data-marker="<%= @markers.to_json %>" >
</div>






<div class="submit-radius">

</div>




<!-- show the Map View with the radius -->


