<!-- show the Address Search Bar + radius box  -->

<div class="submit-search">

  <h4>Address: <%= @search.address %></h4>
  <p>Radius <%= @search.radius %> km</p>

  <!-- The map with the result -->
  <section id="searchdestination">
    <div id="map" style="width: 100%; height: 400px;"
    data-marker="<%= @markers.to_json %>" >
  </div>
</section>

</div>



<div class="submit-radius">

</div>




<!-- show the Map View with the radius -->


