<div class="hero-image">
  <div class="hero-text">
    <h3> Get an authentic feel of </h3>
    <h3> the neighbourhood from locals </h3>
    <div class="btn btn-primary">
      <p> Discover </p>
    </div>
  </div>
  <!-- the search -->

</div>

