<% content_for(:navbar_class,"navbar-home") %>

<div class="hero-image">
  <div class="hero-text">

    <h3> Get an authentic feel of </h3>
    <h3> the neighbourhood from locals with </h3>
    <h2> -- Street Pulse -- </h2>
  </div>

  <!-- the search -->
  <div id="searchdestination">
    <div class="col-10 col-lg-8">
      <div class="searchBar">
        <%= form_tag(controller: "searches", action: "create", method: "post") do %>
        <%= text_field_tag(:search) %>
        <%= number_field_tag(:radius, nil, min: 100, max: 3000, step: 100, placeholder: 'Radius') %>
      </div>
      <div class="submit-search">
        <%= submit_tag "Discover", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</div>

