<div id="searchdestination">
  <!-- the search -->
  <div class="container">
    <div class="row">
      <div>

        <br><br><br><hr><hr><hr>

        <!-- address search input -->
        <%= form_tag(controller: "searches", action: "create", method: "post") do %>
        <%= text_field_tag(:search, nil, placeholder: 'Enter address here...') %>
        <%= submit_tag("Search") %>
        <% end %>

      </div>
    </div>


  </div>
</div>
