.button {
  background-color: #01C19A;
  width: 150px;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

.button :visited {
  color: #fff;
  text-decoration: none;
}

.button :hover {
  color: #fff;
  text-decoration: none;
}

