  <h1>Here is a review </h1>


  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">

      <div class="blog-slider__item swiper-slide" data-review="<%= @review.votes_for.size %>">
        <div class="blog-slider__img">
          <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
        </div>
        <div class='upvotes-el'>
          <div class="upvotes-arrow"></div>
          <!-- RENDER PARTIAL WITH SIMPLE FORM REVIEW  -->
          <div class=”upvotes-count” data-review="<%= @review.votes_for.size %>">
            <%= render partial: "reviews/vote",  review: @review  %>
          </div>
        </div>
        <div class="upvotes-body blog-slider__content">
          <span class="blog-slider__code">Put a review content here</span>
          <div class="blog-slider__title">%= @review.street_review_title %></div>
          <div class="blog-slider__text"><%= @review.street_review_content %></div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__pagination"></div>
    </div>
  </div>


